# Aliases
alias ll='ls -l'
alias la='ls -la'

alias n='nc -zv'

alias ls="ls -G"
alias la='ls -la'
alias la="ls -la"

alias l='less'

alias rm='rm -i'

alias grep='grep --color=auto'

alias irb='irb --readline -r irb/completion'

# GIT aliases
alias gst='git status'
alias gl='git pull'
alias gp='git push'
alias gd='git diff | mate'
alias gc='git commit -v'
alias gca='git commit -v -a'
alias gb='git branch'
alias gba='git branch -a'

alias xmlget="curl -X GET -H 'Accept: application/xml'"
alias jsonget="curl -X GET -H 'Accept: application/json'"
alias xmlpost="curl -X POST -H 'Accept: application/xml'"
alias xmlput="curl -X PUT -H 'Accept: application/xml'"
alias xmldelete="curl -X DELETE -H 'Accept: application/xml'"

alias mx='host -t mx '
alias dig='dig +noauth +noquestion '

# Bundler
alias b="bundle"
alias bi="b install --path vendor"
alias bu="b update"
alias be="b exec"
alias binit="bi && b package && echo 'vendor/ruby' >> .gitignore"

# rbenv/rvm switcher
alias rbenv!="env RUBY_ENV=rbenv bash -l"
alias rvm!="env RUBY_ENV=rvm bash -l"
