[github]
  user = gudleik

[user]
	name = Gudleik Rasch
	email = gudleik@gmail.com
  [color]
  ui = auto
  diff = auto
  status = auto
  branch = auto

[alias]
  ci = commit
  co = checkout
  st = status
  unstage = reset HEAD --
  last = log -1 HEAD

[apply]
  whitespace = nowarn

[core]
  excludesfile = /Users/gudleik/.gitignore

[merge "gemfilelock"]
  name = relocks the gemfile.lock
  driver = bundle lock

